<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="/">Authorization Demo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse container-fluid" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <% if user_signed_in? %>
      <li class="nav-item"><%= link_to 'How to use this Demo', pages_index_path, class: "nav-link #{current_class?(pages_index_path)}" %>
      <li class="nav-item"><%= link_to "Posts", posts_path, class: "nav-link #{current_class?(posts_path)}" %></li>
      <li class="nav-item"><%= link_to "My Posts", myposts_posts_path, class: "nav-link #{current_class?(myposts_posts_path)}" %></li>
    <% end %>
      <!-- Login Items -->
      <li class="nav-item">
        <% if current_user.is_a?(User) %>
          <%= link_to "Log Out", destroy_user_session_path, class: "nav-link" %>
        <% else %>
          <%= link_to "Log In", new_user_session_path, class: "nav-link" %>
        <% end %>
      </li>
    </ul>
    
    <!-- Display name of current_user -->
    <div class="justify-content-end pe-3">
      <% if user_signed_in? %>
        <span class="navbar-text pe-3">Welcome, <%= current_user.email %>!</span>
        <span class="navbar-text pe-3">Your role is: <%= current_user.role %></span>
      <% end %>
    </div>
  </div>
</nav>